$body-background: #f4f6f8;
$light-color: #fff;
$dark-color: #000;
$sidebar-border: #97A0AC;
$sidebar-anchor-active-bg: #F4F6F8;
$dark-gray: #657387;

$theme-primary: #001738;
$theme-secondary: #FF5F1F;


$base-font-family: 'Source Sans Pro', sans-serif;